In [16]:
import pandas as pd
from datetime import date

In [20]:
last_fy = date.today().year - 1
prev_prev_fy = date.today().year - 2

In [18]:
print(last_yr)

2022

In [52]:
modcols = {
    'Unnamed: 0' : 'metric_type',
    f"12 months ended Dec 31, {last_fy}" : f"{last_fy} Totals",
    'Percentage' : f"Perc of {last_fy}",
    f"12 months ended Dec 31, {prev_prev_fy}" : f"{prev_prev_fy} Totals",
    'Percentage.1' : f"Perc of {prev_prev_fy}"
}
print(modcols)
# usecols = f"id, metric_type, {last_fy} Totals, Perc of {last_fy}, {prev_prev_fy} Totals, Perc of {prev_prev_fy}"
# formatCols = usecols.split(",")

{'Unnamed: 0': 'metric_type', '12 months ended Dec 31, 2022': '2022 Totals', 'Percentage': 'Perc of 2022', '12 months ended Dec 31, 2021': '2021 Totals', 'Percentage.1': 'Perc of 2021'}

In [43]:
print(formatCols)

['id', ' metric_type', ' 2022 Totals', ' Perc of 2022', ' 2021 Totals', ' Perc of 2021']

In [50]:
df = pd.read_csv("data/bwp_2022_income.csv")

In [51]:
df.head()

,Unnamed: 0,"12 months ended Dec 31, 2022",Percentage,"12 months ended Dec 31, 2021",Percentage.1
0,Revenue,NaN,NaN,NaN,NaN
1,MEETING ROOM RENTAL,69576.03,1.42,19399.03,0.43
2,ROOM RENTAL,4819339.23,98.66,4499654.34,100.28
3,REFUND,-4232.17,-0.09,-32169.78,-0.72
4,Total Revenue,4884683.09,99.99,4486883.59,99.99

In [53]:
df = df.rename(columns = modcols)

In [54]:
df.head()

           metric_type  2022 Totals  Perc of 2022  2021 Totals  Perc of 2021
0              Revenue          NaN           NaN          NaN           NaN
1  MEETING ROOM RENTAL     69576.03          1.42     19399.03          0.43
2          ROOM RENTAL   4819339.23         98.66   4499654.34        100.28
3               REFUND     -4232.17         -0.09    -32169.78         -0.72
4        Total Revenue   4884683.09         99.99   4486883.59         99.99

In [55]:
df = df.apply(lambda x: pd.Series(x.dropna().values))
df.head()

           metric_type  2022 Totals  Perc of 2022  2021 Totals  Perc of 2021
0              Revenue     69576.03          1.42     19399.03          0.43
1  MEETING ROOM RENTAL   4819339.23         98.66   4499654.34        100.28
2          ROOM RENTAL     -4232.17         -0.09    -32169.78         -0.72
3               REFUND   4884683.09         99.99   4486883.59         99.99
4        Total Revenue    164188.66          3.36    140538.56          3.13

In [56]:
df.tail()

,metric_type,2022 Totals,Perc of 2022,2021 Totals,Perc of 2021
89,PENALTY,NaN,NaN,NaN,NaN
90,PROVISION FOR IN TAX-STATE,NaN,NaN,NaN,NaN
91,PROVISION FOR IN TAX-PTE,NaN,NaN,NaN,NaN
92,Total Other Income,NaN,NaN,NaN,NaN
93,Net Income (Loss),NaN,NaN,NaN,NaN