In [1]:
import pandas as pd
from datetime import date
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [2]:
df = pd.read_csv("data/2023 Profit and Loss.csv", index_col = False)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN,NaN
2,"From January 1, 2023 to June 30, 2023",NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,Year to Date,%,NaN,NaN