In [64]:
import pandas as pd
from datetime import date, datetime
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import os
import glob

In [65]:
file_path = "data/Quarterly files"
csv_files = glob.glob(os.path.join(file_path, '*.csv'))
print(csv_files)

['data/Quarterly files/2023 Profit and Loss Q3.csv']

In [66]:
latest_file = max(csv_files, key=os.path.getmtime)

In [67]:
df = pd.read_csv(latest_file, index_col = False)

In [68]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"For the Nine Months Ending September 30, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Jul. 2023,Aug. 2023,Sept. 2023,Year to Date,NaN,NaN,NaN

In [69]:
cols_to_remove = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']
df = df.drop(columns = cols_to_remove)

In [70]:
first_month = df.loc[4, 'Unnamed: 1']
second_month = df.loc[4, 'Unnamed: 2']
third_month = df.loc[4, 'Unnamed: 3']
modcols = {
    'Unnamed: 0' : 'metric_type',
    'Unnamed: 1' : first_month,
    'Unnamed: 2' : second_month,
    'Unnamed: 3' : third_month,
}

df = df.rename(columns = modcols)

In [ ]:
def define_quarters(first_month, second_month, third_month):
    if first_month == 'January' and second_month == 'February' and third_month == 'March':
        return 'Q1

In [71]:
df.head()

,metric_type,Jul. 2023,Aug. 2023,Sept. 2023
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN
2,"For the Nine Months Ending September 30, 2023",NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,Jul. 2023,Aug. 2023,Sept. 2023

In [72]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)

In [73]:
# with pd.option_context('display.max_rows', None,
#                        'display.max_columns', None,
#                        'display.precision', 3,
#                        ):
#     print(df)

In [74]:
df.iloc[39, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES ADMIN'

In [75]:
df.iloc[:, 1:4] = df.iloc[:, 1:4].applymap(lambda x: x.replace('(', '-').replace(')','') if isinstance(x, str) else x)
df.iloc[:, 1:4] = df.iloc[:, 1:4].applymap(lambda x: x.replace('$', '').replace(',', '') if isinstance(x, str) else x)
df.iloc[:, 1:4] = df.iloc[:, 1:4].astype(float)

In [77]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

                    metric_type  Jul. 2023  Aug. 2023 Sept. 2023
0           MEETING ROOM RENTAL     7325.0     5425.0    8419.68
1                   ROOM RENTAL  314940.99  361154.62  344036.08
2          MISCELLANEOUS INCOME     188.37        0.0        0.0
3                        REFUND        0.0      -58.9        0.0
4                Total Revenues  322454.36  366520.72  352455.76
5              FRONT DESK CLERK   14461.92   18898.57   13120.52
6                   HOUSEKEEPER    32923.0   45085.46   32517.71
7               CAFE ATTENDANTS    7098.01   10582.38    7045.26
8                 PAYROLL TAXES    4318.18    5865.55     4131.9
9        WORKERS COMP INSURANCE    4953.27    4953.27    4953.27
10               LINEN PURCHASE        0.0        0.0    2168.12
11               GUEST SUPPLIES    2409.75    4898.18    7300.31
12             LAUNDRY SUPPLIES        0.0    3040.31    2183.47
13     COMMISSION TRAVEL AGENTS    20135.7   14016.25   16150.85
14        CONTINENTAL BREAKFAST   11671.25    8969.05   17044.44
15          FRANCHISE ROYALTIES    6405.55   12664.38    6405.55
16                   REWARD FEE    5358.79    9853.11    7348.06
17      CREDIT CARD COMMISSIONS   10114.49     9593.6    9140.36
18        MAINTENANCE  SALARIES    2409.75    5759.25     3958.5
19  PAYROLL TAXES - Maintenance     184.34     440.58     302.82
20                 PEST CONTROL     2205.0        0.0      630.0
21   EQUIPMENT REPAIR - GENERAL        0.0     1164.0      300.0
22                FIRE & SAFETY        0.0        0.0        0.0
23                SWIMMING POOL      510.0      760.0      605.0
24     MAINTENANCE & SERV AGRMT    1114.56     614.56     294.56
25             SECURITY EXPENSE      67.94      67.94      67.94
26                     PLUMBING        0.0        0.0    1025.61
27                    ELEVATORS        0.0        0.0    1599.36
28         LANDSCAPING/EXTERIOR    10650.0      650.0     3000.0
29        TRASH & WASTE REMOVAL    1430.44    1529.92    1529.92
30         MAINTENANCE SUPPLIES    1433.68    2383.43    2938.53
31  MISCELLANEOUS - MAINTENANCE        0.0      434.0      435.0
32                        WATER    2362.35    2172.11    2297.77
33                          GAS    3060.05    3046.73    2586.56
34                  ELECTRICITY   16108.89   21948.59    21489.8
35          Total Cost of Sales  161386.91  189391.22  172571.19
36                 Gross Profit  161067.45   177129.5  179884.57
37            OFFICERS SALARIES   21666.68   21666.68   21666.68
38      ADMINISTRATIVE SALARIES   19268.27    20247.9   18703.33
39          PAYROLL TAXES ADMIN    3131.51    3206.45     3088.3
40         COMMERCIAL INSURANCE        0.0     2370.0        0.0
41              OFFICE SUPPLIES     694.38     275.61     756.77
42             LICENSES/PERMITS       57.0      675.0     1125.0
43          EDUCATION & SEMINAR        0.0      843.0        0.0
44           TEMPORARY EMPLOYEE        0.0        0.0        0.0
45               TRAVEL EXPENSE     355.12   17866.78      136.0
46                ENTERTAINMENT    2091.84    3054.95    2288.78
47                    TELEPHONE     592.69    1555.04    1567.73
48          INTERNET & COMPUTER   11676.87    9096.43    7773.84
49         EMPLOYEE RECRUITMENT     416.56        0.0        0.0
50         PAYROLL SERVICE FEES     596.83     837.56    1248.26
51         BANK SERVICE CHARGES       36.0      137.0       34.0
52         MEMBERSHIP DUES/FEES    2819.63     1020.0      790.0
53               MANAGEMENT FEE    60000.0        0.0    50000.0
54        GASOLINE/AUTO EXPENSE     318.67     443.49     425.18
55               PROPERTY TAXES        0.0   10950.36        0.0
56    LEGAL & PROFESSIONAL FEES     6920.0        0.0        0.0
57                     DONATION        0.0        0.0        0.0
58                  OTHER TAXES        0.0        0.0        0.0
59             BUILDING REPAIRS     1000.0        0.0        0.0
60  ADVERTISING - NEWSPAPER/MAG    1952.79    2552.79    1952.79
61          PROMOTION - GENERAL        0.0      740.0        0.0
62               AUTO INSURANCE     652.66     652.66    3936.54
63           BUILDING INSURANCE    1963.08        0.0        0.0
64          RENOVATION EXPENSES        0.0        0.0        0.0
65             INTEREST EXPENSE        0.0        0.0        0.0
66               Total Expenses  136210.58    98191.7   115493.2
67              INTEREST INCOME     335.03     281.21     210.77
68          Total Others Income     335.03     281.21     210.77
69                   Net Income    25191.9   79219.01   64602.14

In [81]:
rows_to_sum = ['Total Cost Of Sales', 'OFFICERS SALARIES', 'ADMINISTRATIVE SALARIES', 'PAYROLL TAXES ADMIN', 'COMMERCIAL INSURANCE', 
               'TELEPHONE', 'INTERNET & COMPUTER', 'PROPERTY TAXES', 'AUTO INSURANCE']
df['metric_type'] = df['metric_type'].str.lower().str.strip()
rows_to_sum = [row.lower().strip() for row in rows_to_sum]
temp = df['metric_type'].isin(rows_to_sum)
selectRows = df[temp]
print(selectRows)

                metric_type  Jul. 2023  Aug. 2023 Sept. 2023
35      total cost of sales  161386.91  189391.22  172571.19
37        officers salaries   21666.68   21666.68   21666.68
38  administrative salaries   19268.27    20247.9   18703.33
39      payroll taxes admin    3131.51    3206.45     3088.3
40     commercial insurance        0.0     2370.0        0.0
47                telephone     592.69    1555.04    1567.73
48      internet & computer   11676.87    9096.43    7773.84
55           property taxes        0.0   10950.36        0.0
62           auto insurance     652.66     652.66    3936.54

In [89]:
month_totals = selectRows.iloc[:, 1:4].sum()
# print(month_totals)
total_q3_cost = month_totals.sum()

In [90]:
print(total_q3_cost)

706819.9400000001

In [92]:
roomsSold = input("How many rooms sold?")
# retrieve total rooms sold from VM or NA reports
# e.g: Q3 total rooms = 2974+2863+2853
cPORCurrYr = total_q3_cost/int(roomsSold)
print(f"{date_range}: ${round(cPORCurrYr, 2)}")

How many rooms sold? 8690

NameError: name 'date_range' is not defined