In [24]:
import pandas as pd
from datetime import date, datetime
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [2]:
df = pd.read_csv("data/2023 Profit and Loss.csv", index_col = False)

In [4]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN,NaN
2,"From January 1, 2023 to June 30, 2023",NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,Year to Date,%,NaN,NaN

In [27]:
datestr = df.loc[2, 'Unnamed: 0']

# datestr = datestr.lower().replace(',', '')
split_date = datestr.split()

from_date = ' '.join(split_date[1:4])
input_from_date = datetime.strptime(from_date, "%B %d, %Y")
formatted_from_date = input_from_date.strftime("%m/%d/%y")

to_date = ' '.join(split_date[5:8])
input_to_date = datetime.strptime(to_date, "%B %d, %Y")
formatted_to_date = input_to_date.strftime("%m/%d/%y")

date_range = formatted_from_date + '-' + formatted_to_date
print(date_range)
# print(split_date[1:4].append(split_date[5:7]))

01/01/23-06/30/23

In [28]:
cols_to_remove = ['Unnamed: 3', 'Unnamed: 4']
df = df.drop(columns = cols_to_remove)

In [31]:
modcols = {
    'Unnamed: 0' : 'metric_type',
    'Unnamed: 1' : date_range,
    'Unnamed: 2' : 'percent',
}

df = df.rename(columns = modcols)

In [35]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)

In [36]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

                    metric_type 01/01/23-06/30/23 percent
0           MEETING ROOM RENTAL        $39,875.01    1.86
1                   ROOM RENTAL      2,098,966.49   97.83
2                Total Revenues      2,138,841.50   99.69
3              FRONT DESK CLERK         85,026.79    3.96
4                   HOUSEKEEPER        203,618.05    9.49
5               CAFE ATTENDANTS         43,963.58    2.05
6                 PAYROLL TAXES         29,875.02    1.39
7        WORKERS COMP INSURANCE         32,809.49    1.53
8                LINEN PURCHASE          8,812.75    0.41
9                GUEST SUPPLIES         37,934.48    1.77
10             LAUNDRY SUPPLIES          5,549.17    0.26
11     COMMISSION TRAVEL AGENTS        103,491.04    4.82
12        CONTINENTAL BREAKFAST         64,861.32    3.02
13          FRANCHISE ROYALTIES         38,569.29    1.80
14                   REWARD FEE         37,382.72    1.74
15      CREDIT CARD COMMISSIONS         53,470.97    2.49
16        MAINTENANCE  SALARIES         23,866.50    1.11
17  PAYROLL TAXES - Maintenance          1,986.77    0.09
18                 PEST CONTROL          5,608.25    0.26
19   EQUIPMENT REPAIR - GENERAL         14,729.62    0.69
20                FIRE & SAFETY            896.36    0.04
21                SWIMMING POOL          6,535.00    0.30
22     MAINTENANCE & SERV AGRMT          6,054.04    0.28
23             SECURITY EXPENSE          1,217.14    0.06
24                     PLUMBING            470.00    0.02
25                    ELEVATORS          3,204.00    0.15
26         LANDSCAPING/EXTERIOR          4,100.00    0.19
27        TRASH & WASTE REMOVAL          6,750.68    0.31
28         MAINTENANCE SUPPLIES          7,740.71    0.36
29                        WATER          9,086.56    0.42
30                          GAS         35,184.50    1.64
31                  ELECTRICITY         63,034.94    2.94
32          Total Cost of Sales        935,829.74   43.62
33                 Gross Profit      1,203,011.76   56.07
34            OFFICERS SALARIES        119,166.74    5.55
35      ADMINISTRATIVE SALARIES        109,728.73    5.11
36                PAYROLL TAXES         18,315.45    0.85
37         COMMERCIAL INSURANCE        123,077.19    5.74
38              OFFICE SUPPLIES          4,784.44    0.22
39             LICENSES/PERMITS          3,276.06    0.15
40          EDUCATION & SEMINAR            470.00    0.02
41           TEMPORARY EMPLOYEE          2,448.00    0.11
42               TRAVEL EXPENSE          4,923.79    0.23
43                ENTERTAINMENT          5,878.11    0.27
44                    TELEPHONE          8,154.56    0.38
45          INTERNET & COMPUTER         47,366.22    2.21
46         EMPLOYEE RECRUITMENT            105.40    0.00
47         PAYROLL SERVICE FEES          4,407.45    0.21
48         BANK SERVICE CHARGES            124.38    0.01
49         MEMBERSHIP DUES/FEES          2,720.00    0.13
50        GASOLINE/AUTO EXPENSE          3,560.52    0.17
51               PROPERTY TAXES          8,082.03    0.38
52    LEGAL & PROFESSIONAL FEES         10,814.00    0.50
53                     DONATION            680.00    0.03
54                  OTHER TAXES          6,250.00    0.29
55  ADVERTISING - NEWSPAPER/MAG         28,557.74    1.33
56          PROMOTION - GENERAL          4,838.54    0.23
57               AUTO INSURANCE         10,827.15    0.50
58          RENOVATION EXPENSES          1,217.50    0.06
59             INTEREST EXPENSE        183,547.92    8.55
60               Total Expenses        713,321.92   33.25
61              INTEREST INCOME          6,732.95    0.31
62          Total Others Income          6,732.95    0.31
63                   Net Income       $496,422.79   23.14

In [52]:
# All modifications of dataframe
df.iloc[6, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES OPS'
df.iloc[36, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES ADMIN'
df['01/01/23-06/30/23'] = df['01/01/23-06/30/23'].str.replace('[\$,]', '', regex=True).astype(float)

In [53]:
# columns for cost: total cost of sales, officer/admin salaries, payroll taxes, commercial ins, telephone, internet, property tax, 
# credit card commission, maint salary, payroll tax, pest, eqpt rep, fire and safety, swimming pool, maint&serv, plumbing, elec, trash&waste, 
# maint supp, total utilities, auto/gen insurance, building ins, 
rows_to_sum = ['Total Cost Of Sales', 'OFFICERS SALARIES', 'ADMINISTRATIVE SALARIES', 'PAYROLL TAXES ADMIN', 'COMMERCIAL INSURANCE', 
               'TELEPHONE', 'INTERNET & COMPUTER', 'PROPERTY TAXES', 'AUTO INSURANCE']
df['metric_type'] = df['metric_type'].str.lower().str.strip()
rows_to_sum = [row.lower().strip() for row in rows_to_sum]
temp = df['metric_type'].isin(rows_to_sum)
selectRows = df[temp]
totalOpCostCurrYr = selectRows['01/01/23-06/30/23'].sum()

In [54]:
print(totalOpCostCurrYr)

1380547.8099999998

In [55]:
roomsSold = input("How many rooms sold?")
# retrieve total rooms sold from VM or NA reports
# e.g: 2023 total rooms YTD = 17386
cPORCurrYr = totalOpCostCurrYr/int(roomsSold)
print(f"{date_range}: ${round(cPORCurrYr, 2)}")

How many rooms sold? 17386

01/01/23-06/30/23: $79.41