In [78]:
import pandas as pd
from datetime import date

In [79]:
last_fy = date.today().year - 1
prev_prev_fy = date.today().year - 2

In [80]:
print(last_yr)

2022

In [81]:
modcols = {
    'Unnamed: 0' : 'metric_type',
    f"12 months ended Dec 31, {last_fy}" : f"{last_fy} Totals",
    'Percentage' : f"Perc of {last_fy}",
    f"12 months ended Dec 31, {prev_prev_fy}" : f"{prev_prev_fy} Totals",
    'Percentage.1' : f"Perc of {prev_prev_fy}"
}

In [82]:
df = pd.read_csv("data/bwp_2022_income.csv")

In [83]:
df.head()

,Unnamed: 0,"12 months ended Dec 31, 2022",Percentage,"12 months ended Dec 31, 2021",Percentage.1
0,Revenue,NaN,NaN,NaN,NaN
1,MEETING ROOM RENTAL,69576.03,1.42,19399.03,0.43
2,ROOM RENTAL,4819339.23,98.66,4499654.34,100.28
3,REFUND,-4232.17,-0.09,-32169.78,-0.72
4,Total Revenue,4884683.09,99.99,4486883.59,99.99

In [84]:
df = df.rename(columns = modcols)

In [85]:
df.head()

           metric_type  2022 Totals  Perc of 2022  2021 Totals  Perc of 2021
0              Revenue          NaN           NaN          NaN           NaN
1  MEETING ROOM RENTAL     69576.03          1.42     19399.03          0.43
2          ROOM RENTAL   4819339.23         98.66   4499654.34        100.28
3               REFUND     -4232.17         -0.09    -32169.78         -0.72
4        Total Revenue   4884683.09         99.99   4486883.59         99.99

In [86]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

                       metric_type  2022 Totals  Perc of 2022  2021 Totals  \
0                          Revenue          NaN           NaN          NaN
1              MEETING ROOM RENTAL    6.958e+04          1.42    1.940e+04
2                      ROOM RENTAL    4.819e+06         98.66    4.500e+06
3                           REFUND   -4.232e+03         -0.09   -3.217e+04
4                    Total Revenue    4.885e+06         99.99    4.487e+06
5                              NaN          NaN           NaN          NaN
6                  Cost of Revenue          NaN           NaN          NaN
7                 FRONT DESK CLERK    1.642e+05          3.36    1.405e+05
8                      HOUSEKEEPER    4.746e+05          9.72    3.504e+05
9                  CAFÃ‰ ATTENDANTS    1.003e+03          0.02    4.190e+03
10                   PAYROLL TAXES    1.820e+04          0.37    1.655e+04
11                PENSION EXPENSES    2.845e+05          5.82    1.700e+05
12          WORKERS COMP INSURANCE    8.120e+04          1.66    8.418e+04
13                  LINEN PURCHASE    1.834e+04          0.38    2.658e+03
14                  GUEST SUPPLIES    7.128e+04          1.46    2.295e+04
15              GUEST DRY CLEANING    2.950e+01          0.00    0.000e+00
16                        UNIFORMS    0.000e+00          0.00    6.138e+02
17                LAUNDRY SUPPLIES    1.762e+04          0.36    1.035e+04
18        COMMISSION TRAVEL AGENTS    2.064e+05          4.22    1.760e+05
19           CONTINENTAL BREAKFAST    1.402e+05          2.87    8.254e+04
20             FRANCHISE ROYALTIES    7.996e+04          1.64    6.989e+04
21                      REWARD FEE    8.505e+04          1.74    4.823e+04
22       TELEPHONE MONTHLY SERVICE    0.000e+00          0.00    9.724e+03
23           Total Cost of Revenue    1.643e+06         33.62    1.189e+06
24                    Gross Profit    3.242e+06         66.37    3.298e+06
25                             NaN          NaN           NaN          NaN
26        Administrative & General          NaN           NaN          NaN
27               OFFICERS SALARIES    2.600e+05          5.32    2.084e+05
28         ADMINISTRATIVE SALARIES    2.437e+05          4.99    1.937e+05
29                   PAYROLL TAXES    3.976e+04          0.81    3.189e+04
30            COMMERCIAL INSURANCE    3.074e+04          0.63    1.000e+03
31                 OFFICE SUPPLIES    1.699e+04          0.35    1.326e+04
32                LICENSES/PERMITS    3.140e+03          0.06    1.653e+03
33             EDUCATION & SEMINAR    2.627e+03          0.05    7.950e+02
34                  TRAVEL EXPENSE    8.182e+03          0.17    1.039e+04
35                   ENTERTAINMENT    2.474e+04          0.51    1.324e+04
36                       TELEPHONE    1.617e+04          0.33    6.246e+03
37             INTERNET & COMPUTER    8.707e+04          1.78    7.189e+04
38         CREDIT CARD COMMISSIONS    1.205e+05          2.47    7.552e+04
39            EMPLOYEE RECRUITMENT    1.541e+04          0.32    1.563e+04
40              POSTAGE & DELIVERY    5.539e+01          0.00    1.603e+02
41            BANK SERVICE CHARGES    4.348e+01          0.00    9.542e+02
42            MEMBERSHIP DUES/FEES    7.316e+03          0.15    5.568e+03
43                  MANAGEMENT FEE    1.300e+05          2.66    1.567e+05
44           GASOLINE/AUTO EXPENSE    1.397e+04          0.29    1.938e+04
45                  PROPERTY TAXES    8.005e+04          1.64    8.800e+04
46       LEGAL & PROFESSIONAL FEES    1.845e+04          0.38    2.901e+04
47                        DONATION    7.680e+02          0.02    7.083e+03
48  Total Administrative & General    1.120e+06         22.93    9.505e+05
49                             NaN          NaN           NaN          NaN
50           Repairs & Maintenance          NaN           NaN          NaN
51            MAINTENANCE SALARIES    5.258e+04          1.08    4.381e+04
52                   PAYROLL TAXES    4.037e+04          0.83    3.041e+04
53                    PEST CONTROL    1.035e+04          0.21    2.487e+03
54        EQUIPMENT REPAIR-GENERAL    2.699e+04          0.55    2.986e+03
55                   FIRE & SAFETY    1.315e+04          0.27    3.464e+03
56          COMPUTER EQUIPMENT-PMS    0.000e+00          0.00    6.750e+02
57                   SWIMMING POOL    7.568e+03          0.15    4.793e+03
58        MAINTENANCE & SERV AGRMT    1.018e+04          0.21    2.018e+04
59                SECURITY EXPENSE    1.261e+03          0.03    3.404e+03
60                        PLUMBING    1.851e+04          0.38    1.254e+04
61         ELECTRICAL & MECHANICAL    1.050e+03          0.02    0.000e+00
62                       ELEVATORS    1.331e+04          0.27    4.709e+03
63                BUILDING REPAIRS    1.196e+04          0.24    0.000e+00
64            LANDSCAPING/EXTERIOR    7.800e+03          0.16    7.800e+03
65           TRASH & WASTE REMOVAL    1.689e+04          0.35    1.278e+04
66           PAINTING & DECORATING    0.000e+00          0.00    1.502e+03
67                     PARKING LOT    0.000e+00          0.00    4.800e+04
68            MAINTENANCE SUPPLIES    4.355e+04          0.89    4.917e+04
69     Total Repairs & Maintenance    2.755e+05          5.64    2.487e+05
70                             NaN          NaN           NaN          NaN
71         Advertising & Promotion          NaN           NaN          NaN
72       ADVERTISING-NEWSPAPER/MAG    6.174e+04          1.26    5.146e+04
73               PROMOTION-GENERAL    3.267e+04          0.67    1.039e+04
74   Total Advertising & Promotion    9.442e+04          1.93    6.185e+04
75                             NaN          NaN           NaN          NaN
76                       Utilities          NaN           NaN          NaN
77                           WATER    3.634e+04          0.74    3.755e+04
78                             GAS    4.620e+04          0.95    3.357e+04
79                     ELECTRICITY    1.570e+05          3.21    1.301e+05
80         Total Utilities Expense    2.395e+05          4.90    2.013e+05
81                Operating Income    1.513e+06         30.97    1.836e+06
82                             NaN          NaN           NaN          NaN
83                 INTEREST INCOME    1.916e+04          0.39    1.352e+04
84                 DIVIDEND INCOME    2.216e+03          0.05    0.000e+00
85                OTHER INCOME-PPP    0.000e+00          0.00    5.255e+05
86               OTHER INCOME-ERTC    0.000e+00          0.00    1.026e+05
87                  AUTO INSURANCE    9.991e+03          0.20    7.174e+03
88               GENERAL INSURANCE    0.000e+00          0.00    1.380e+03
89             BUILDING INSURANCE     6.253e+03          0.13    5.253e+03
90              CITY OCCUPANCY TAX    3.814e+05          7.81    3.710e+05
91                GOTMD ASSESSMENT    7.921e+04          1.62    7.729e+04
92             RENOVATION EXPENSES    7.782e+03          0.16    1.072e+03
93                    DEPRECIATION    2.616e+05          5.35    1.053e+05
94                INTEREST EXPENSE    3.299e+05          6.75    3.391e+05
95                         PENALTY    3.364e+03          0.07    8.858e+02
96      PROVISION FOR IN TAX-STATE    8.990e+03          0.18    1.337e+04
97        PROVISION FOR IN TAX-PTE    5.574e+04          1.14    9.309e+04
98              Total Other Income   -1.123e+06        -22.97   -3.733e+05
99               Net Income (Loss)    3.902e+05          8.00    1.463e+06

    Perc of 2021
0            NaN
1           0.43
2         100.28
3          -0.72
4          99.99
5            NaN
6            NaN
7           3.13
8           7.81
9           0.09
10          0.37
11          3.79
12          1.88
13          0.06
14          0.51
15          0.00
16          0.01
17          0.23
18          3.92
19          1.84
20          1.56
21          1.07
22          0.22
23         26.49
24         73.50
25           NaN
26           NaN
27          4.65
28          4.32
29          0.71
30          0.02
31          0.30
32          0.04
33          0.02
34          0.23
35          0.30
36          0.14
37          1.60
38          1.68
39          0.35
40          0.00
41          0.02
42          0.12
43          3.49
44          0.43
45          1.96
46          0.65
47          0.16
48         21.19
49           NaN
50           NaN
51          0.98
52          0.68
53          0.06
54          0.07
55          0.08
56          0.02
57          0.11
58          0.45
59          0.08
60          0.28
61          0.00
62          0.10
63          0.00
64          0.17
65          0.28
66          0.03
67          1.07
68          1.10
69          5.56
70           NaN
71           NaN
72          1.15
73          0.23
74          1.38
75           NaN
76           NaN
77          0.84
78          0.75
79          2.90
80          4.49
81         40.88
82           NaN
83          0.30
84          0.00
85         11.71
86          2.29
87          0.16
88          0.03
89          0.12
90          8.27
91          1.72
92          0.02
93          2.35
94          7.56
95          0.02
96          0.30
97          2.07
98         -8.32
99         32.56