In [76]:
import pandas as pd
from datetime import date, datetime
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import os
import glob

In [77]:
file_path = "data/YTD files"
csv_files = glob.glob(os.path.join(file_path, '*.csv'))
print(csv_files)

['data/YTD files/2023 Profit and Loss YTD.csv', 'data/YTD files/2023 Profit and Loss.csv']

In [78]:
latest_file = max(csv_files, key=os.path.getmtime)

In [79]:
df = pd.read_csv(latest_file, index_col = False)

In [80]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN,NaN
2,"From January 1, 2023 to September 30, 2023",NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,Year to Date,%,NaN,NaN

In [81]:
datestr = df.loc[2, 'Unnamed: 0']

# datestr = datestr.lower().replace(',', '')
split_date = datestr.split()

from_date = ' '.join(split_date[1:4])
input_from_date = datetime.strptime(from_date, "%B %d, %Y")
formatted_from_date = input_from_date.strftime("%m/%d/%y")

to_date = ' '.join(split_date[5:8])
input_to_date = datetime.strptime(to_date, "%B %d, %Y")
formatted_to_date = input_to_date.strftime("%m/%d/%y")

date_range = formatted_from_date + '-' + formatted_to_date
print(date_range)
# print(split_date[1:4].append(split_date[5:7]))

01/01/23-09/30/23

In [82]:
cols_to_remove = ['Unnamed: 3', 'Unnamed: 4']
df = df.drop(columns = cols_to_remove)

In [83]:
modcols = {
    'Unnamed: 0' : 'metric_type',
    'Unnamed: 1' : date_range,
    'Unnamed: 2' : 'percent',
}

df = df.rename(columns = modcols)

In [84]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)

In [90]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

                    metric_type 01/01/23-09/30/23 percent
0           MEETING ROOM RENTAL        $61,044.69    1.91
1                   ROOM RENTAL      3,119,098.18   97.84
2          MISCELLANEOUS INCOME            188.37    0.01
3                        REFUND           (58.90)  (0.00)
4                Total Revenues      3,180,272.34   99.76
5              FRONT DESK CLERK        131,507.80    4.13
6                   HOUSEKEEPER        314,144.22    9.85
7               CAFE ATTENDANTS         68,689.23    2.15
8             PAYROLL TAXES OPS         44,190.65    1.39
9        WORKERS COMP INSURANCE         47,669.30    1.50
10               LINEN PURCHASE         10,980.87    0.34
11               GUEST SUPPLIES         52,542.72    1.65
12             LAUNDRY SUPPLIES         10,772.95    0.34
13     COMMISSION TRAVEL AGENTS        153,793.84    4.82
14        CONTINENTAL BREAKFAST        102,546.06    3.22
15          FRANCHISE ROYALTIES         64,044.77    2.01
16                   REWARD FEE         59,942.68    1.88
17      CREDIT CARD COMMISSIONS         82,319.42    2.58
18        MAINTENANCE  SALARIES         35,994.00    1.13
19  PAYROLL TAXES - Maintenance          2,914.51    0.09
20                 PEST CONTROL          8,443.25    0.26
21   EQUIPMENT REPAIR - GENERAL         16,193.62    0.51
22                FIRE & SAFETY            896.36    0.03
23                SWIMMING POOL          7,450.00    0.23
24     MAINTENANCE & SERV AGRMT          9,037.72    0.28
25             SECURITY EXPENSE          1,420.96    0.04
26                     PLUMBING          1,495.61    0.05
27                    ELEVATORS          4,803.36    0.15
28         LANDSCAPING/EXTERIOR         18,400.00    0.58
29        TRASH & WASTE REMOVAL         11,240.96    0.35
30         MAINTENANCE SUPPLIES         14,496.35    0.45
31  MISCELLANEOUS - MAINTENANCE            869.00    0.03
32                        WATER         15,918.79    0.50
33                          GAS         43,877.84    1.38
34                  ELECTRICITY        122,582.22    3.85
35          Total Cost of Sales      1,459,179.06   45.77
36                 Gross Profit      1,721,093.28   53.99
37            OFFICERS SALARIES        184,166.78    5.78
38      ADMINISTRATIVE SALARIES        167,948.23    5.27
39          PAYROLL TAXES ADMIN         27,741.71    0.87
40         COMMERCIAL INSURANCE        125,447.19    3.94
41              OFFICE SUPPLIES          6,511.20    0.20
42             LICENSES/PERMITS          5,133.06    0.16
43          EDUCATION & SEMINAR          1,313.00    0.04
44           TEMPORARY EMPLOYEE          2,448.00    0.08
45               TRAVEL EXPENSE         23,281.69    0.73
46                ENTERTAINMENT         13,313.68    0.42
47                    TELEPHONE         11,870.02    0.37
48          INTERNET & COMPUTER         75,913.36    2.38
49         EMPLOYEE RECRUITMENT            521.96    0.02
50         PAYROLL SERVICE FEES          7,090.10    0.22
51         BANK SERVICE CHARGES            331.38    0.01
52         MEMBERSHIP DUES/FEES          7,349.63    0.23
53               MANAGEMENT FEE        110,000.00    3.45
54        GASOLINE/AUTO EXPENSE          4,747.86    0.15
55               PROPERTY TAXES         19,032.39    0.60
56    LEGAL & PROFESSIONAL FEES         17,734.00    0.56
57                     DONATION            680.00    0.02
58                  OTHER TAXES          6,250.82    0.20
59             BUILDING REPAIRS          1,000.00    0.03
60  ADVERTISING - NEWSPAPER/MAG         35,016.11    1.10
61          PROMOTION - GENERAL          5,578.54    0.17
62               AUTO INSURANCE         16,069.01    0.50
63           BUILDING INSURANCE          1,963.08    0.06
64          RENOVATION EXPENSES          1,217.50    0.04
65             INTEREST EXPENSE        183,547.92    5.76
66               Total Expenses      1,063,218.22   33.35
67              INTEREST INCOME          7,559.96    0.24
68          Total Others Income          7,559.96    0.24
69                   Net Income       $665,435.02   20.87

In [87]:
df.iloc[8, df.columns.get_loc('metric_type')]

'PAYROLL TAXES'

In [91]:
# All modifications of dataframe
df.iloc[8, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES OPS'
df.iloc[39, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES ADMIN'
paranthesis = df[date_range].str.contains(r'\(|\)')
df.loc[paranthesis, date_range] = df.loc[paranthesis, date_range].str.replace(r'\(', '-').str.replace(r'\)', '', regex=True)
df[date_range] = df[date_range].str.replace('[\$,]', '', regex=True).astype(float)

/var/folders/nc/1czn_dfn327cnn5jm9s4xv7w0000gn/T/ipykernel_69606/590842208.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[paranthesis, date_range] = df.loc[paranthesis, date_range].str.replace(r'\(', '-').str.replace(r'\)', '', regex=True)

In [92]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

                    metric_type  01/01/23-09/30/23 percent
0           MEETING ROOM RENTAL          6.104e+04    1.91
1                   ROOM RENTAL          3.119e+06   97.84
2          MISCELLANEOUS INCOME          1.884e+02    0.01
3                        REFUND         -5.890e+01  (0.00)
4                Total Revenues          3.180e+06   99.76
5              FRONT DESK CLERK          1.315e+05    4.13
6                   HOUSEKEEPER          3.141e+05    9.85
7               CAFE ATTENDANTS          6.869e+04    2.15
8             PAYROLL TAXES OPS          4.419e+04    1.39
9        WORKERS COMP INSURANCE          4.767e+04    1.50
10               LINEN PURCHASE          1.098e+04    0.34
11               GUEST SUPPLIES          5.254e+04    1.65
12             LAUNDRY SUPPLIES          1.077e+04    0.34
13     COMMISSION TRAVEL AGENTS          1.538e+05    4.82
14        CONTINENTAL BREAKFAST          1.025e+05    3.22
15          FRANCHISE ROYALTIES          6.404e+04    2.01
16                   REWARD FEE          5.994e+04    1.88
17      CREDIT CARD COMMISSIONS          8.232e+04    2.58
18        MAINTENANCE  SALARIES          3.599e+04    1.13
19  PAYROLL TAXES - Maintenance          2.915e+03    0.09
20                 PEST CONTROL          8.443e+03    0.26
21   EQUIPMENT REPAIR - GENERAL          1.619e+04    0.51
22                FIRE & SAFETY          8.964e+02    0.03
23                SWIMMING POOL          7.450e+03    0.23
24     MAINTENANCE & SERV AGRMT          9.038e+03    0.28
25             SECURITY EXPENSE          1.421e+03    0.04
26                     PLUMBING          1.496e+03    0.05
27                    ELEVATORS          4.803e+03    0.15
28         LANDSCAPING/EXTERIOR          1.840e+04    0.58
29        TRASH & WASTE REMOVAL          1.124e+04    0.35
30         MAINTENANCE SUPPLIES          1.450e+04    0.45
31  MISCELLANEOUS - MAINTENANCE          8.690e+02    0.03
32                        WATER          1.592e+04    0.50
33                          GAS          4.388e+04    1.38
34                  ELECTRICITY          1.226e+05    3.85
35          Total Cost of Sales          1.459e+06   45.77
36                 Gross Profit          1.721e+06   53.99
37            OFFICERS SALARIES          1.842e+05    5.78
38      ADMINISTRATIVE SALARIES          1.679e+05    5.27
39          PAYROLL TAXES ADMIN          2.774e+04    0.87
40         COMMERCIAL INSURANCE          1.254e+05    3.94
41              OFFICE SUPPLIES          6.511e+03    0.20
42             LICENSES/PERMITS          5.133e+03    0.16
43          EDUCATION & SEMINAR          1.313e+03    0.04
44           TEMPORARY EMPLOYEE          2.448e+03    0.08
45               TRAVEL EXPENSE          2.328e+04    0.73
46                ENTERTAINMENT          1.331e+04    0.42
47                    TELEPHONE          1.187e+04    0.37
48          INTERNET & COMPUTER          7.591e+04    2.38
49         EMPLOYEE RECRUITMENT          5.220e+02    0.02
50         PAYROLL SERVICE FEES          7.090e+03    0.22
51         BANK SERVICE CHARGES          3.314e+02    0.01
52         MEMBERSHIP DUES/FEES          7.350e+03    0.23
53               MANAGEMENT FEE          1.100e+05    3.45
54        GASOLINE/AUTO EXPENSE          4.748e+03    0.15
55               PROPERTY TAXES          1.903e+04    0.60
56    LEGAL & PROFESSIONAL FEES          1.773e+04    0.56
57                     DONATION          6.800e+02    0.02
58                  OTHER TAXES          6.251e+03    0.20
59             BUILDING REPAIRS          1.000e+03    0.03
60  ADVERTISING - NEWSPAPER/MAG          3.502e+04    1.10
61          PROMOTION - GENERAL          5.579e+03    0.17
62               AUTO INSURANCE          1.607e+04    0.50
63           BUILDING INSURANCE          1.963e+03    0.06
64          RENOVATION EXPENSES          1.218e+03    0.04
65             INTEREST EXPENSE          1.835e+05    5.76
66               Total Expenses          1.063e+06   33.35
67              INTEREST INCOME          7.560e+03    0.24
68          Total Others Income          7.560e+03    0.24
69                   Net Income          6.654e+05   20.87

In [93]:
# columns for cost: total cost of sales, officer/admin salaries, payroll taxes, commercial ins, telephone, internet, property tax, 
# credit card commission, maint salary, payroll tax, pest, eqpt rep, fire and safety, swimming pool, maint&serv, plumbing, elec, trash&waste, 
# maint supp, total utilities, auto/gen insurance, building ins, 
rows_to_sum = ['Total Cost Of Sales', 'OFFICERS SALARIES', 'ADMINISTRATIVE SALARIES', 'PAYROLL TAXES ADMIN', 'COMMERCIAL INSURANCE', 
               'TELEPHONE', 'INTERNET & COMPUTER', 'PROPERTY TAXES', 'AUTO INSURANCE']
df['metric_type'] = df['metric_type'].str.lower().str.strip()
rows_to_sum = [row.lower().strip() for row in rows_to_sum]
# print(rows_to_sum)
temp = df['metric_type'].isin(rows_to_sum)
selectRows = df[temp]
print(selectRows)
totalOpCostCurrYr = selectRows[date_range].sum()

                metric_type  01/01/23-09/30/23 percent
35      total cost of sales         1459179.06   45.77
37        officers salaries          184166.78    5.78
38  administrative salaries          167948.23    5.27
39      payroll taxes admin           27741.71    0.87
40     commercial insurance          125447.19    3.94
47                telephone           11870.02    0.37
48      internet & computer           75913.36    2.38
55           property taxes           19032.39    0.60
62           auto insurance           16069.01    0.50

In [94]:
print(totalOpCostCurrYr)

2087367.75

In [95]:
roomsSold = input("How many rooms sold?")
# retrieve total rooms sold from VM or NA reports
# e.g: 2023 total rooms YTD = 26076
cPORCurrYr = totalOpCostCurrYr/int(roomsSold)
print(f"{date_range}: ${round(cPORCurrYr, 2)}")

How many rooms sold? 26076

01/01/23-09/30/23: $80.05