In [50]:
import pandas as pd
from datetime import date, datetime
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import os
import glob

In [51]:
file_path = "data/Quarterly files"
csv_files = glob.glob(os.path.join(file_path, '*.csv'))
print(csv_files)

['data/Quarterly files/2023 Profit and Loss Q3.csv']

In [52]:
latest_file = max(csv_files, key=os.path.getmtime)

In [53]:
df = pd.read_csv(latest_file, index_col = False)

In [54]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"For the Nine Months Ending September 30, 2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Jul. 2023,Aug. 2023,Sept. 2023,Year to Date,NaN,NaN,NaN

In [55]:
cols_to_remove = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7']
df = df.drop(columns = cols_to_remove)

In [56]:
first_month = df.loc[4, 'Unnamed: 1']
second_month = df.loc[4, 'Unnamed: 2']
third_month = df.loc[4, 'Unnamed: 3']
modcols = {
    'Unnamed: 0' : 'metric_type',
    'Unnamed: 1' : first_month,
    'Unnamed: 2' : second_month,
    'Unnamed: 3' : third_month,
}

df = df.rename(columns = modcols)

In [57]:
df.head()

,metric_type,Jul. 2023,Aug. 2023,Sept. 2023
0,BJ WIN HOSPITALITY INC.,NaN,NaN,NaN
1,Profit and Loss,NaN,NaN,NaN
2,"For the Nine Months Ending September 30, 2023",NaN,NaN,NaN
3,NaN,NaN,NaN,NaN
4,NaN,Jul. 2023,Aug. 2023,Sept. 2023

In [58]:
df = df.dropna(axis=0)
df = df.reset_index(drop=True)

In [59]:
# with pd.option_context('display.max_rows', None,
#                        'display.max_columns', None,
#                        'display.precision', 3,
#                        ):
#     print(df)

In [60]:
df.iloc[39, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES ADMIN'

In [61]:
df.iloc[:, 1:4] = df.iloc[:, 1:4].applymap(lambda x: x.replace('(', '-').replace(')','') if isinstance(x, str) else x)
df.iloc[:, 1:4] = df.iloc[:, 1:4].applymap(lambda x: x.replace('$', '') if isinstance(x, str) else x)
df.iloc[:, 1:4] = df.iloc[:, 1:4].astype(float)

ValueError: could not convert string to float: '7,325.00'

In [ ]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)