In [234]:
import pandas as pd
from datetime import date
import numpy as np

In [235]:
last_fy = date.today().year - 1
prev_prev_fy = date.today().year - 2

In [236]:
print(last_yr)

2022

In [237]:
modcols = {
    'Unnamed: 0' : 'metric_type',
    f"12 months ended Dec 31, {last_fy}" : f"{last_fy} Totals",
    'Percentage' : f"Perc of {last_fy}",
    f"12 months ended Dec 31, {prev_prev_fy}" : f"{prev_prev_fy} Totals",
    'Percentage.1' : f"Perc of {prev_prev_fy}"
}

In [238]:
df = pd.read_csv("data/bwp_2022_income.csv", index_col = False)

In [239]:
df.head()

,Unnamed: 0,"12 months ended Dec 31, 2022",Percentage,"12 months ended Dec 31, 2021",Percentage.1
0,Revenue,NaN,NaN,NaN,NaN
1,MEETING ROOM RENTAL,69576.03,1.42,19399.03,0.43
2,ROOM RENTAL,4819339.23,98.66,4499654.34,100.28
3,REFUND,-4232.17,-0.09,-32169.78,-0.72
4,Total Revenue,4884683.09,99.99,4486883.59,99.99

In [240]:
df = df.rename(columns = modcols)

In [241]:
df = df.dropna(axis=0)

In [242]:
df.head()

           metric_type  2022 Totals  Perc of 2022  2021 Totals  Perc of 2021
1  MEETING ROOM RENTAL     69576.03          1.42     19399.03          0.43
2          ROOM RENTAL   4819339.23         98.66   4499654.34        100.28
3               REFUND     -4232.17         -0.09    -32169.78         -0.72
4        Total Revenue   4884683.09         99.99   4486883.59         99.99
7     FRONT DESK CLERK    164188.66          3.36    140538.56          3.13

In [243]:
# print(df.iloc[10, df.columns.get_loc('metric_type')])
# row = (df == 'PAYROLL TAXES').any(axis=1).idxmax()
# column = (df == 'PAYROLL TAXES').any().idxmax()
# print(row, column)
# print(df.loc[df.index[10], 'metric_type'])
df = df.reset_index(drop=True)
print(df.iloc[7:12])

               metric_type  2022 Totals  Perc of 2022  2021 Totals  \
7            PAYROLL TAXES     18203.40          0.37     16550.54
8         PENSION EXPENSES    284463.63          5.82    169969.75
9   WORKERS COMP INSURANCE     81203.21          1.66     84179.76
10          LINEN PURCHASE     18338.80          0.38      2657.52
11          GUEST SUPPLIES     71275.03          1.46     22951.31

    Perc of 2021
7           0.37
8           3.79
9           1.88
10          0.06
11          0.51

In [244]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 3,
                       ):
    print(df)

                       metric_type  2022 Totals  Perc of 2022  2021 Totals  \
0              MEETING ROOM RENTAL    6.958e+04          1.42    1.940e+04
1                      ROOM RENTAL    4.819e+06         98.66    4.500e+06
2                           REFUND   -4.232e+03         -0.09   -3.217e+04
3                    Total Revenue    4.885e+06         99.99    4.487e+06
4                 FRONT DESK CLERK    1.642e+05          3.36    1.405e+05
5                      HOUSEKEEPER    4.746e+05          9.72    3.504e+05
6                  CAFÉ ATTENDANTS    1.003e+03          0.02    4.190e+03
7                    PAYROLL TAXES    1.820e+04          0.37    1.655e+04
8                 PENSION EXPENSES    2.845e+05          5.82    1.700e+05
9           WORKERS COMP INSURANCE    8.120e+04          1.66    8.418e+04
10                  LINEN PURCHASE    1.834e+04          0.38    2.658e+03
11                  GUEST SUPPLIES    7.128e+04          1.46    2.295e+04
12              GUEST DRY CLEANING    2.950e+01          0.00    0.000e+00
13                        UNIFORMS    0.000e+00          0.00    6.138e+02
14                LAUNDRY SUPPLIES    1.762e+04          0.36    1.035e+04
15        COMMISSION TRAVEL AGENTS    2.064e+05          4.22    1.760e+05
16           CONTINENTAL BREAKFAST    1.402e+05          2.87    8.254e+04
17             FRANCHISE ROYALTIES    7.996e+04          1.64    6.989e+04
18                      REWARD FEE    8.505e+04          1.74    4.823e+04
19       TELEPHONE MONTHLY SERVICE    0.000e+00          0.00    9.724e+03
20           Total Cost of Revenue    1.643e+06         33.62    1.189e+06
21                    Gross Profit    3.242e+06         66.37    3.298e+06
22               OFFICERS SALARIES    2.600e+05          5.32    2.084e+05
23         ADMINISTRATIVE SALARIES    2.437e+05          4.99    1.937e+05
24                   PAYROLL TAXES    3.976e+04          0.81    3.189e+04
25            COMMERCIAL INSURANCE    3.074e+04          0.63    1.000e+03
26                 OFFICE SUPPLIES    1.699e+04          0.35    1.326e+04
27                LICENSES/PERMITS    3.140e+03          0.06    1.653e+03
28             EDUCATION & SEMINAR    2.627e+03          0.05    7.950e+02
29                  TRAVEL EXPENSE    8.182e+03          0.17    1.039e+04
30                   ENTERTAINMENT    2.474e+04          0.51    1.324e+04
31                       TELEPHONE    1.617e+04          0.33    6.246e+03
32             INTERNET & COMPUTER    8.707e+04          1.78    7.189e+04
33         CREDIT CARD COMMISSIONS    1.205e+05          2.47    7.552e+04
34            EMPLOYEE RECRUITMENT    1.541e+04          0.32    1.563e+04
35              POSTAGE & DELIVERY    5.539e+01          0.00    1.603e+02
36            BANK SERVICE CHARGES    4.348e+01          0.00    9.542e+02
37            MEMBERSHIP DUES/FEES    7.316e+03          0.15    5.568e+03
38                  MANAGEMENT FEE    1.300e+05          2.66    1.567e+05
39           GASOLINE/AUTO EXPENSE    1.397e+04          0.29    1.938e+04
40                  PROPERTY TAXES    8.005e+04          1.64    8.800e+04
41       LEGAL & PROFESSIONAL FEES    1.845e+04          0.38    2.901e+04
42                        DONATION    7.680e+02          0.02    7.083e+03
43  Total Administrative & General    1.120e+06         22.93    9.505e+05
44            MAINTENANCE SALARIES    5.258e+04          1.08    4.381e+04
45                   PAYROLL TAXES    4.037e+04          0.83    3.041e+04
46                    PEST CONTROL    1.035e+04          0.21    2.487e+03
47        EQUIPMENT REPAIR-GENERAL    2.699e+04          0.55    2.986e+03
48                   FIRE & SAFETY    1.315e+04          0.27    3.464e+03
49          COMPUTER EQUIPMENT-PMS    0.000e+00          0.00    6.750e+02
50                   SWIMMING POOL    7.568e+03          0.15    4.793e+03
51        MAINTENANCE & SERV AGRMT    1.018e+04          0.21    2.018e+04
52                SECURITY EXPENSE    1.261e+03          0.03    3.404e+03
53                        PLUMBING    1.851e+04          0.38    1.254e+04
54         ELECTRICAL & MECHANICAL    1.050e+03          0.02    0.000e+00
55                       ELEVATORS    1.331e+04          0.27    4.709e+03
56                BUILDING REPAIRS    1.196e+04          0.24    0.000e+00
57            LANDSCAPING/EXTERIOR    7.800e+03          0.16    7.800e+03
58           TRASH & WASTE REMOVAL    1.689e+04          0.35    1.278e+04
59           PAINTING & DECORATING    0.000e+00          0.00    1.502e+03
60                     PARKING LOT    0.000e+00          0.00    4.800e+04
61            MAINTENANCE SUPPLIES    4.355e+04          0.89    4.917e+04
62     Total Repairs & Maintenance    2.755e+05          5.64    2.487e+05
63       ADVERTISING-NEWSPAPER/MAG    6.174e+04          1.26    5.146e+04
64               PROMOTION-GENERAL    3.267e+04          0.67    1.039e+04
65   Total Advertising & Promotion    9.442e+04          1.93    6.185e+04
66                           WATER    3.634e+04          0.74    3.755e+04
67                             GAS    4.620e+04          0.95    3.357e+04
68                     ELECTRICITY    1.570e+05          3.21    1.301e+05
69         Total Utilities Expense    2.395e+05          4.90    2.013e+05
70                Operating Income    1.513e+06         30.97    1.836e+06
71                 INTEREST INCOME    1.916e+04          0.39    1.352e+04
72                 DIVIDEND INCOME    2.216e+03          0.05    0.000e+00
73                OTHER INCOME-PPP    0.000e+00          0.00    5.255e+05
74               OTHER INCOME-ERTC    0.000e+00          0.00    1.026e+05
75                  AUTO INSURANCE    9.991e+03          0.20    7.174e+03
76               GENERAL INSURANCE    0.000e+00          0.00    1.380e+03
77             BUILDING INSURANCE     6.253e+03          0.13    5.253e+03
78              CITY OCCUPANCY TAX    3.814e+05          7.81    3.710e+05
79                GOTMD ASSESSMENT    7.921e+04          1.62    7.729e+04
80             RENOVATION EXPENSES    7.782e+03          0.16    1.072e+03
81                    DEPRECIATION    2.616e+05          5.35    1.053e+05
82                INTEREST EXPENSE    3.299e+05          6.75    3.391e+05
83                         PENALTY    3.364e+03          0.07    8.858e+02
84      PROVISION FOR IN TAX-STATE    8.990e+03          0.18    1.337e+04
85        PROVISION FOR IN TAX-PTE    5.574e+04          1.14    9.309e+04
86              Total Other Income   -1.123e+06        -22.97   -3.733e+05
87               Net Income (Loss)    3.902e+05          8.00    1.463e+06

    Perc of 2021
0           0.43
1         100.28
2          -0.72
3          99.99
4           3.13
5           7.81
6           0.09
7           0.37
8           3.79
9           1.88
10          0.06
11          0.51
12          0.00
13          0.01
14          0.23
15          3.92
16          1.84
17          1.56
18          1.07
19          0.22
20         26.49
21         73.50
22          4.65
23          4.32
24          0.71
25          0.02
26          0.30
27          0.04
28          0.02
29          0.23
30          0.30
31          0.14
32          1.60
33          1.68
34          0.35
35          0.00
36          0.02
37          0.12
38          3.49
39          0.43
40          1.96
41          0.65
42          0.16
43         21.19
44          0.98
45          0.68
46          0.06
47          0.07
48          0.08
49          0.02
50          0.11
51          0.45
52          0.08
53          0.28
54          0.00
55          0.10
56          0.00
57          0.17
58          0.28
59          0.03
60          1.07
61          1.10
62          5.56
63          1.15
64          0.23
65          1.38
66          0.84
67          0.75
68          2.90
69          4.49
70         40.88
71          0.30
72          0.00
73         11.71
74          2.29
75          0.16
76          0.03
77          0.12
78          8.27
79          1.72
80          0.02
81          2.35
82          7.56
83          0.02
84          0.30
85          2.07
86         -8.32
87         32.56

In [245]:
df.iloc[7, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES OPS'
df.iloc[24, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES ADMIN'
df.iloc[45, df.columns.get_loc('metric_type')] = 'PAYROLL TAXES MAINT'
df = df.drop(columns=['Perc of 2022', 'Perc of 2021'], axis = 1)
df['Percent Diff'] = round(((df['2022 Totals'] - df['2021 Totals'])/df['2021 Totals'])*100, 2)

In [246]:
with pd.option_context('display.max_rows', None,
                       'display.max_columns', None,
                       'display.precision', 6,
                       ):
    print(df)

                       metric_type  2022 Totals  2021 Totals  Percent Diff
0              MEETING ROOM RENTAL     69576.03     19399.03        258.66
1                      ROOM RENTAL   4819339.23   4499654.34          7.10
2                           REFUND     -4232.17    -32169.78        -86.84
3                    Total Revenue   4884683.09   4486883.59          8.87
4                 FRONT DESK CLERK    164188.66    140538.56         16.83
5                      HOUSEKEEPER    474609.95    350408.83         35.44
6                  CAFÉ ATTENDANTS      1003.00      4190.00        -76.06
7                PAYROLL TAXES OPS     18203.40     16550.54          9.99
8                 PENSION EXPENSES    284463.63    169969.75         67.36
9           WORKERS COMP INSURANCE     81203.21     84179.76         -3.54
10                  LINEN PURCHASE     18338.80      2657.52        590.07
11                  GUEST SUPPLIES     71275.03     22951.31        210.55
12              GUEST DRY CLEANING        29.50         0.00           inf
13                        UNIFORMS         0.00       613.75       -100.00
14                LAUNDRY SUPPLIES     17622.11     10352.86         70.21
15        COMMISSION TRAVEL AGENTS    206358.92    175975.70         17.27
16           CONTINENTAL BREAKFAST    140218.48     82544.42         69.87
17             FRANCHISE ROYALTIES     79959.62     69894.21         14.40
18                      REWARD FEE     85046.26     48228.73         76.34
19       TELEPHONE MONTHLY SERVICE         0.00      9724.04       -100.00
20           Total Cost of Revenue   1642520.57   1188779.98         38.17
21                    Gross Profit   3242162.52   3298103.61         -1.70
22               OFFICERS SALARIES    260000.00    208416.52         24.75
23         ADMINISTRATIVE SALARIES    243685.44    193658.00         25.83
24             PAYROLL TAXES ADMIN     39756.85     31892.43         24.66
25            COMMERCIAL INSURANCE     30740.68      1000.00       2974.07
26                 OFFICE SUPPLIES     16994.15     13263.79         28.12
27                LICENSES/PERMITS      3139.50      1653.33         89.89
28             EDUCATION & SEMINAR      2627.00       795.00        230.44
29                  TRAVEL EXPENSE      8181.99     10388.89        -21.24
30                   ENTERTAINMENT     24739.88     13241.20         86.84
31                       TELEPHONE     16172.54      6245.76        158.94
32             INTERNET & COMPUTER     87073.62     71894.79         21.11
33         CREDIT CARD COMMISSIONS    120497.72     75523.21         59.55
34            EMPLOYEE RECRUITMENT     15409.88     15630.94         -1.41
35              POSTAGE & DELIVERY        55.39       160.31        -65.45
36            BANK SERVICE CHARGES        43.48       954.19        -95.44
37            MEMBERSHIP DUES/FEES      7316.08      5567.94         31.40
38                  MANAGEMENT FEE    130000.00    156700.00        -17.04
39           GASOLINE/AUTO EXPENSE     13968.04     19381.62        -27.93
40                  PROPERTY TAXES     80048.70     87996.48         -9.03
41       LEGAL & PROFESSIONAL FEES     18452.55     29011.80        -36.40
42                        DONATION       768.00      7083.38        -89.16
43  Total Administrative & General   1119671.49    950459.58         17.80
44            MAINTENANCE SALARIES     52581.12     43806.80         20.03
45             PAYROLL TAXES MAINT     40365.24     30408.48         32.74
46                    PEST CONTROL     10347.70      2486.85        316.10
47        EQUIPMENT REPAIR-GENERAL     26992.05      2986.42        803.83
48                   FIRE & SAFETY     13150.00      3464.30        279.59
49          COMPUTER EQUIPMENT-PMS         0.00       675.00       -100.00
50                   SWIMMING POOL      7567.50      4792.97         57.89
51        MAINTENANCE & SERV AGRMT     10177.18     20183.17        -49.58
52                SECURITY EXPENSE      1260.65      3403.73        -62.96
53                        PLUMBING     18506.00     12543.00         47.54
54         ELECTRICAL & MECHANICAL      1050.00         0.00           inf
55                       ELEVATORS     13312.58      4708.56        182.73
56                BUILDING REPAIRS     11965.00         0.00           inf
57            LANDSCAPING/EXTERIOR      7800.00      7800.00          0.00
58           TRASH & WASTE REMOVAL     16887.07     12784.86         32.09
59           PAINTING & DECORATING         0.00      1501.64       -100.00
60                     PARKING LOT         0.00     48000.00       -100.00
61            MAINTENANCE SUPPLIES     43549.88     49168.80        -11.43
62     Total Repairs & Maintenance    275511.97    248714.58         10.77
63       ADVERTISING-NEWSPAPER/MAG     61742.70     51460.91         19.98
64               PROMOTION-GENERAL     32673.44     10387.08        214.56
65   Total Advertising & Promotion     94416.14     61847.99         52.66
66                           WATER     36344.39     37547.80         -3.21
67                             GAS     46203.52     33574.32         37.62
68                     ELECTRICITY    156977.72    130138.78         20.62
69         Total Utilities Expense    239525.63    201260.90         19.01
70                Operating Income   1513037.29   1835820.56        -17.58
71                 INTEREST INCOME     19164.56     13520.67         41.74
72                 DIVIDEND INCOME      2215.90         0.00           inf
73                OTHER INCOME-PPP         0.00    525546.00       -100.00
74               OTHER INCOME-ERTC         0.00    102627.08       -100.00
75                  AUTO INSURANCE      9991.34      7174.48         39.26
76               GENERAL INSURANCE         0.00      1380.00       -100.00
77             BUILDING INSURANCE       6253.00      5253.00         19.04
78              CITY OCCUPANCY TAX    381429.70    370979.73          2.82
79                GOTMD ASSESSMENT     79214.92     77287.45          2.49
80             RENOVATION EXPENSES      7782.50      1072.50        625.64
81                    DEPRECIATION    261557.04    105348.75        148.28
82                INTEREST EXPENSE    329896.15    339124.50         -2.72
83                         PENALTY      3363.98       885.80        279.77
84      PROVISION FOR IN TAX-STATE      8990.00     13366.00        -32.74
85        PROVISION FOR IN TAX-PTE     55738.00     93092.00        -40.13
86              Total Other Income  -1122836.17   -373270.46        200.81
87               Net Income (Loss)    390201.12   1462550.10        -73.32

In [247]:
# roomsSold = input("How many rooms sold?")
# columns for cost: totalcost of revenue, officer/admin salaries, payroll taxes, commercial ins, telephone, internet, property tax, 
# credit card commission, maint salary, payroll tax, pest, eqpt rep, fire and safety, swimming pool, maint&serv, plumbing, elec, trash&waste, 
# maint supp, total utilities, auto/gen insurance, building ins, 
rows_to_sum = ['Total Cost Of Revenue', 'OFFICERS SALARIES', 'ADMINISTRATIVE SALARIES', 'PAYROLL TAXES ADMIN', 'COMMERCIAL INSURANCE', 
               'TELEPHONE', 'INTERNET & COMPUTER', 'PROPERTY TAXES', 'CREDIT CARD COMMISSIONS', 'MAINTENANCE SALARIES', 'PAYROLL TAXES MAINT',
               'PEST CONTROL', 'EQUIPMENT REPAIR-GENERAL', 'FIRE & SAFETY', 'SWIMMING POOL', 'MAINTENANCE & SERV AGRMT', 'PLUMBING', 
               'ELECTRICAL & MECHANICAL', 'TRASH & WASTE REMOVAL', 'MAINTENANCE SUPPLIES', 'Total Utilities Expense', 'AUTO INSURANCE', 
               'GENERAL INSURANCE', 'BUILDING INSURANCE']
df['metric_type'] = df['metric_type'].str.lower().str.strip()
rows_to_sum = [row.lower().strip() for row in rows_to_sum]
temp = df['metric_type'].isin(rows_to_sum)
selectRows = df[temp]
totalOpCostCurrYr = selectRows[f"{last_fy} Totals"].sum()
totalOpCostPrevYr = selectRows[f"{prev_prev_fy} Totals"].sum()

In [248]:
roomsSoldCurrYr = input("How many rooms sold?")
# retrieve total rooms sold from VM or NA reports
# e.g: 2022 total rooms = 35109
cPORCurrYr = totalOpCostCurrYr/int(roomsSoldCurrYr)
print(f"{last_fy}: ${round(cPORCurrYr, 2)}")

How many rooms sold? 35109

2022: $85.94

In [249]:
roomsSoldPrevYr = input("How many rooms sold?")
# retrieve total rooms sold from VM or NA reports
# e.g: 2021 total rooms = 34811
cPORPrevYr = totalOpCostPrevYr/int(roomsSoldPrevYr)
print(f"{prev_prev_fy}: ${round(cPORPrevYr, 2)}")

How many rooms sold? 34811

2021: $65.01

In [250]:
print(selectRows)

                 metric_type  2022 Totals  2021 Totals  Percent Diff
20     total cost of revenue   1642520.57   1188779.98         38.17
22         officers salaries    260000.00    208416.52         24.75
23   administrative salaries    243685.44    193658.00         25.83
24       payroll taxes admin     39756.85     31892.43         24.66
25      commercial insurance     30740.68      1000.00       2974.07
31                 telephone     16172.54      6245.76        158.94
32       internet & computer     87073.62     71894.79         21.11
33   credit card commissions    120497.72     75523.21         59.55
40            property taxes     80048.70     87996.48         -9.03
44      maintenance salaries     52581.12     43806.80         20.03
45       payroll taxes maint     40365.24     30408.48         32.74
46              pest control     10347.70      2486.85        316.10
47  equipment repair-general     26992.05      2986.42        803.83
48             fire & safety     13150.00      3464.30        279.59
50             swimming pool      7567.50      4792.97         57.89
51  maintenance & serv agrmt     10177.18     20183.17        -49.58
53                  plumbing     18506.00     12543.00         47.54
54   electrical & mechanical      1050.00         0.00           inf
58     trash & waste removal     16887.07     12784.86         32.09
61      maintenance supplies     43549.88     49168.80        -11.43
69   total utilities expense    239525.63    201260.90         19.01
75            auto insurance      9991.34      7174.48         39.26
76         general insurance         0.00      1380.00       -100.00
77        building insurance      6253.00      5253.00         19.04