In [1]:
import pandas as pd

In [8]:
pd.read_csv("data/bwp_2022_income.csv")

,Unnamed: 0,"12 months ended Dec 31, 2022",Percentage,"12 months ended Dec 31, 2021",Percentage.1
0,Revenue,NaN,NaN,NaN,NaN
1,MEETING ROOM RENTAL,69576.03,1.42,19399.03,0.43
2,ROOM RENTAL,4819339.23,98.66,4499654.34,100.28
3,REFUND,-4232.17,-0.09,-32169.78,-0.72
4,Total Revenue,4884683.09,99.99,4486883.59,99.99
...,...,...,...,...,...
95,PENALTY,3363.98,0.07,885.80,0.02
96,PROVISION FOR IN TAX-STATE,8990.00,0.18,13366.00,0.30
97,PROVISION FOR IN TAX-PTE,55738.00,1.14,93092.00,2.07
98,Total Other Income,-1122836.17,-22.97,-373270.46,-8.32
99,Net Income (Loss),390201.12,8.00,1462550.10,32.56